node_modules/
dist/
__pycache__/
*.pyc
.env
*.log
.DS_Store
**/venv/
.venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
stitch_prd/media/
project.tar.gz
data/
**/site-packages/
**/binaries/
backend/app/data/
